.fvm/flutter_sdk
.fvm/versions
.fvm/fvm_config.json
.fvm/release
.fvm/version
.dart_tool/
.idea/
.vscode/
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
node_modules/
.env
.env.*
!.env.example
coverage/
dist/
*.log
.local/
__pycache__/
*.py[cod]
**/.kotlin/
